{% extends "gwdm/base.html" %}
{% load tethys_gizmos %}
{% load static %}

{% block app_content %}
<h1>Interpolation Wizard <a data-bs-toggle="modal" data-bs-target="#help-modal">
  <i class="bi bi-question-circle-fill"></i></a></h1>
<div id="message" class="alert alert-danger d-none" role="alert"></div>
{% gizmo region_select %}
{% gizmo aquifer_select %}
{% gizmo variable_select %}
{% gizmo select_units %}
{% gizmo output_file_input %}
{% gizmo select_porosity %}
{% gizmo raster_extent_select %}
{% gizmo raster_interval %}
{% gizmo start_date %}
{% gizmo end_date %}
{% gizmo gap_size %}
{% gizmo pad %}
{% gizmo spacing %}
{% gizmo temporal_interpolation %}
{% gizmo min_samples %}
 {% gizmo add_button %}
{% endblock %}

{% block after_app_content %}
  <!-- Help Modal -->
  <div class="modal fade" id="help-modal" tabindex="-1" role="dialog" aria-labelledby="help-modal-label">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="help-modal-label">Instructions</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <h3>Select Region</h3>
          <ul>
            <li>Click the "Select Region" dropdown and select the region of interest. The Select Aquifer dropdown will populate with the appropriate entries.</li>
          </ul>
          <h3>Select Aquifer</h3>
          <ul>
            <li>Click the "Select Aquifer" dropdown and select the desired aquifer, or choose all aquifers.</li>
          </ul>
          <h3>Specify Start Date, End Date, and Time Increment</h3>
          <ul>
            <li>The Wizard will create a raster animation for the specified years</li>
          </ul>
          <h3>Specify Raster Resolution</h3>
          <ul>
            <li>The Wizard will create a raster animation with the specified resolution</li>
          </ul>
          <h3>Specify Interpolation Method and Options</h3>
          <ul>
            <li>The interpolation process will only use data from wells with the minimum number of water samples, with timeseries data spanning at least the specified percentage of the chosen time frame.</li>
            <li>The interpolation process wil extrapolate time series data within the specified tolerance of the Temporal Extrapolation Limit.</li>
          </ul>
          <h3>Specify whether to set this animation as the default animation for the aquifer.</h3>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal">OK</button>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block scripts %}
{{ block.super }}
<script src="{% static 'gwdm/js/interpolation.js' %}" type="text/javascript"></script>
{% endblock %}